@charset "utf-8";

@font-face {
    font-family: "GmarketSans";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local("Gmarket Sans Light"), local("GmarketSans-Light"), url("GmarketSansLight.woff2") format("woff2"), url("GmarketSansLight.woff") format("woff"), url("GmarketSansLight.ttf") format("truetype");
}
@font-face {
    font-family: "GmarketSans";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), url("GmarketSansMedium.woff2") format("woff2"), url("GmarketSansMedium.woff") format("woff"), url("GmarketSansMedium.ttf") format("truetype");
}
@font-face {
    font-family: "GmarketSans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), url("GmarketSansBold.woff2") format("woff2"), url("GmarketSansBold.woff") format("woff"), url("GmarketSansBold.ttf") format("truetype");
}
